@model AccountsViewModel
@{
    ViewData["Title"] = "Accounts";

    static string YN(bool condition, bool expected = true)
    {
        return condition == expected ? "success" : "danger";
    }
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("PartialPaging", Model.Paging)

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Last action</th>
            <th>Properties</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model.Accounts)
        {
            <tr>
                <td><a asp-action="AccountEdit" asp-route-id="@acc.Id">@acc.Username</a></td>
                <td>@acc.LastActivity.ToString("R")</td>
                <td>
                    <span class="alert-info p-1 rounded-pill">@(acc.IsAdmin ? "Admin" : "Normal")</span>,
                    <span class="alert-@(YN(acc.IgnoreExpire)) p-1 rounded-pill">@(acc.IgnoreExpire ? "No expiration" : "Can expire")</span>,
                    <span class="alert-@(YN(acc.IgnoreExpireSaves)) p-1 rounded-pill">@(acc.IgnoreExpireSaves ? "No save expiration" : "Saves can expire" )</span>,
                    <span class="alert-@(YN(!acc.IsLocked)) p-1 rounded-pill">@(acc.IsLocked ? "Locked" : "Enabled")</span>
                </td>
                <th>
                    <a asp-action="AccountEdit" asp-route-id="@acc.Id" class="btn btn-success">&#x270f;&#xfe0f;</a>
                    <form method="post" class="d-inline" asp-action="AccountAction">
                        <input type="hidden" name="UserId" value="@acc.Id" />
                        <input type="hidden" name="Action" value="Delete" />
                        <input type="submit" class="btn btn-danger"
                            title="Delete user and saves"
                            value="&#x1f5d1;&#xfe0f;" />
                    </form>
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><a asp-action="AccountCreate" class="d-block text-center">&#x2795; New user</a></td>
        </tr>
    </tfoot>
</table>