@model DbSetupViewModel
@{
    ViewData["IsSetup"] = true;
    ViewData["Title"] = "Initial setup";
}
<h1>@ViewData["Title"]</h1>
<p>
    The SQL connection must be set before the application can be used.
</p>
<form method="post" id="frmInit">
    <div class="row">
        <div class="col-md-4">
            <label>
                <input type="radio" name="@Html.NameFor(m => m.Provider)" value="1" checked="@(Model.Provider == DbProvider.SQLServer)" />
                MS SQL Server or SQL Server Express
            </label><br />
            <label>
                <input type="radio" name="@Html.NameFor(m => m.Provider)" value="2" checked="@(Model.Provider == DbProvider.SQLite)" />
                SQLite
            </label><br />
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    The SQL system decides how data is stored in this application.
                    Currently, two systems are offered:
                </i>
            </p>
            <p>
                <i>
                    <b>MS SQL Server</b>:
                    This is recommended for internet facing applications
                    that may experience more than just light traffic.
                    However, SQL Server requires manual installation
                    and may be overkill for small applications.
                </i>
            </p>
            <p>
                <i>
                    <b>SQLite</b>:
                    SQLite is ideal for small installations
                    where only a few users are simultaneously using it.
                    It is purely file based, and requires no installation,
                    but performance may be degraded if you experience
                    higher than usual number of concurrent users.
                </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="ServerInstance">Server name and SQL instance</label>
            <input asp-for="ServerInstance" class="form-control" required placeholder="Server and instance name" />
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    This is the server name and optional SQL instance name to connect to.<br />
                    Either enter <code>HOSTNAME</code> or <code>HOSTNAME\INSTANCE</code>
                    depending on your setup. For SQL server express with default settings
                    on the same server as this application, enter <code>.\SQLEXPRESS</code><br />
                    Without an instance name, the SQL server instance marked as default will be used.
                </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="DatabaseName">Database name</label>
            <input asp-for="DatabaseName" class="form-control" required placeholder="Database name" />
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    This is the name of the database.
                    If it doesn't exists, it will be created,
                    which requires additional permissions.
                </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>
                <input asp-for="UseWindowsAuth" />
                Use Windows authentication (recommended)
            </label>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    Windows authentication is a way to log into services with
                    the current Windows account credentials.
                    This is the recommended way of communicating
                    between this application and the SQL server.
                    It will not work if either the SQL server
                    or this application is not run on Windows.<br />
                    The current Windows user is <code>@Model.CurrentUser</code>
                </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" placeholder="SQL user name" />
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    If you cannot use windows authentication,
                    specify the name of the SQL user to authenticate with
                </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="SQL user password" />
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    If you cannot use windows authentication,
                    specify the password of the SQL user to authenticate with
                </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>
                <input asp-for="Encrypt" />
                Encrypt SQL connection
            </label>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-6">
            <p>
                <i>
                    Encryption will protect
                    data between this application and the SQL server.
                    You want to enable this if the server doesn't runs
                    on the same machine as this application.<br />
                    Note: This requires your server to have a certificate trusted by this machine.
                </i>
            </p>
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="Test" id="btnInitTest" />
</form>